<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Line Status</title>
</head>
<body>
    <header></header>
    <main>
        <form method="get" action="/status">
            <select id="lines_dropdown" name="line">
                <option value="northern">northern</option>
            </select>
            <input type="submit">
        </form>
    
        <p>{{ data }}</p>
    </main>
</body>
</html>